<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<!--    别名-->
    <typeAliases>
        <package name="cn.blackui.pojo"/>
    </typeAliases>

    <mappers>
        <package name="cn.blackui.dao.BookMapper"/>
        <package name="cn.blackui.dao.CarMapper"/>
        <package name="cn.blackui.dao.CategoryMapper"/>
        <package name="cn.blackui.dao.CustomerMapper"/>
        <package name="cn.blackui.dao.OrderMapper"/>

    </mappers>

</configuration>